body{
    background-image: url("C:/Users/user/Pictures/nature7.jpg");
}
 .hero{
    width:30%;
    height:35vh;
    border:6px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 30rem;
    padding-top: 5rem;
   
}
.banner h1{
    font-size: 80px;
}
header .modal-btn{
    width: 25%;
    height: 4vh;
    font-size: 25px;
    padding-top: 5px;
    background-color: rgb(52, 160, 248);
    border-radius: 15px;
}
header .modal-btn:hover{
    background-color: aquamarine;
 
}
.modal-overlay{
    position: fixed;
    border-radius: 20px;
    border:6px solid black;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-image: url("C:/Users/user/Pictures/nature4.jpg");
    display: grid;
    place-items: center;
    color: rgb(16, 223, 33);
    font-size: 120px;
}
.close-btn{
    width: 20%;
    height: 6vh;
    font-size: 15px;
    background-color: black;
    border-radius: 20px;
    color: rgb(16, 223, 33);
}
.close-btn:hover{
    border: 5px solid rgb(16, 223, 33);
}